body#main {
  margin: 10px 0;
  padding: 0px;
  min-width: 278px;
  background-color: #F7F7F7;
/*  background:url("/images/bg.jpg") no-repeat left top;*/
}

.login-form {
  margin-top: 13rem;
}

.signup-form {
  margin-top: 8rem;
}